<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group8.comp3900.year2014.com.bcit.dogsweater" >

    <!-- for taking pictures of your dog -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- for choosing images from gallery for your dog -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/profileTitle" >
        </activity>
        <activity
            android:name=".DogProfileCreation"
            android:label="@string/profileCreationTitle" >
        </activity>
        <activity
            android:name=".ProfileName"
            android:label="@string/profileNameTitle" >
        </activity>
        <activity
            android:name=".Yarn"
            android:label="@string/yarnTitle" >
        </activity>
        <activity
            android:name=".YarnSelection"
            android:label="@string/title_activity_yarn_selection" >
        </activity>
        <activity
            android:name=".Style"
            android:label="@string/title_activity_style" >
        </activity>
        <activity
            android:name=".Materials"
            android:label="@string/title_activity_materials" >
        </activity>
        <activity
            android:name=".ProjectPattern"
            android:label="@string/title_activity_project_pattern" >
        </activity>
        <activity
            android:name=".ProfileSelection"
            android:label="@string/title_activity_profile_selection" >
        </activity>
        <activity
            android:name=".currentProjects"
            android:label="@string/title_activity_current_projects" >
        </activity>
        <activity
            android:name=".ManageProfiles"
            android:label="@string/title_activity_manage_profiles" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>
